<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Nava Music Player</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
	<link rel="stylesheet" href="../node_modules/vazir-font/dist/font-face.css" />
	<link rel="stylesheet" href="../static/styles/player.css" />
</head>

<body class="bg-dark text-white text-center rtl">



	<div class="top"></div>

	<button id='cl' onClick="window.close();" class='cl'></button>
	<button id='minimize' onClick="maximize()" class='minimize'></button>
	<button id='window' onClick="minimize()" class='window'></button>


	<div class="container-fluid">
		<div class="row min-vh-100">
			<div class="col-md-4 col-sm-6 p-0 bg-black" id="drop_area">
				<div class="container-fluid">
					<div class="row p-5">
						<div class="col">
							<i class="fa fa-plus h1"></i>
							<span class="d-block">بکشید و رها کنید</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col pb-5">
				<div class="pb-3" id="show_list"></div>
			</div>
		</div>
		<div id="controller" class="row fixed-bottom m-0 p-0" dir="ltr">
			<div class="col">
				<div class="row">
					<div class="col p-0">
						<span id="accname"></span>
						<div class="slidecontainer">
							<input type="range" min="1" max="100" value="50" class="slider" id="progress">
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-1 pt-1">
						<img id="player_cover" src="../static/images/cover.jpg" alt="cover" />
					</div>
					<div class="col pt-1">
						<div class="row" id="player_title">Title</div>
						<div class="row small">
							<span id="player_artist">Artist </span> -
							<span id="player_year"> Year</span>
						</div>
					</div>
					<div class="col pt-2 text-right">
						<button id="btn_prev" class="btn btn-sm">
							<ion-icon class="h3" name="play-back-outline"></ion-icon>
							</ion-icon>
						</button>
						<button id="btn_play" class="btn btn-sm">
							<ion-icon class="h3" name="play-outline"></ion-icon>
						</button>
						<button id="btn_next" class="btn btn-sm">
							<ion-icon class="h3" name="play-forward-outline"></ion-icon>
						</button>
					</div>
				</div>
				<audio id="player" src=""></audio>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
	<script src="../static/js/player.js"></script>
</body>

</html>