:root
{
    --primary: #4356ff;
    --primary-light: #6373ff;
    --primary-shadow: rgba(99, 115, 255, 0.45);
    --primary-dark: #2a40ee;
    --primary-lighter: #7d8bff;
    --primary-darker: #2133bd;

    --primary-secondary: #1b1c22;
    --primary-secondary-50: rgba(15, 15, 19, 0.7);
    --primary-secondary-2: #25262c;
    --primary-secondary-3: #191a1f;
    --primary-secondary-4: rgba(15, 15, 16, 0.85);
}
.rtl {
    direction: rtl !important;
}

* {
    font-family: 'Vazir';
}
.top {
    position: absolute;
    height: 10px;
    width: 100%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background-color: #191a1f;
}
.pb-5{
    background: var(--primary-secondary-50);
}
.bg-black {
    background: var(--primary-secondary-2);
}
.pb-3{
    margin-top: 10px;
}
.music-item:hover {
    padding: 15px auto;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#controller {
    background: var(--primary-secondary-4);
}

#controller img {
    width: 50px;
}

#controller .btn {
    color: white !important;
    font-weight: bold;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--primary-secondary-50);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary-lighter);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-lighter);
    cursor: pointer;
}


/*  */


.minimize
{
    border: none;
    z-index: 100;
    position: absolute;
    top:12px;
    right:30px;
    opacity:1;
    text-align: right;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #ffc24f;
    transition: all 0.5s;
}
.minimize:hover
{
    background: #d29729;
}

.window
{
    border: none;
    z-index: 100;
    position: absolute;
    top:12px;
    right:50px;
    opacity:1;
    text-align: right;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #a0ff6c;
    transition: all 0.5s;
}
.window:hover
{
    background: #49961e;
}

.cl
{
    border: none;
    z-index: 100;
    position: absolute;
    top:12px;
    right:10px;
    opacity:1;
    text-align: right;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #ff3939;
    transition: all 0.5s;
}
.cl:hover
{
    background: #da1b1b;
}


.p_p{
    border: none;
    z-index: 100;
    position: absolute;
    top:12px;
    right:70px;
    opacity:1;
    text-align: right;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--primary-shadow);
    transition: all 0.5s;
}
.p_p:hover
{
    background: var(--primary-dark);
}
